  
.div-home {
    text-align: center;
    margin: 3%;
}

.a {
    text-decoration: none;
}

.main-title {
    text-align: center;
}

.button-search {
    margin-bottom: 1%;
    margin-top: 1%;
    float: right;
}